@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Lato:wght@300&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

/* logo */

h1 {
    font-family: Pacifico, sans-serif;
    font-size: 300%;
    display: flex;
    justify-content: flex-start;
}

#logo {
    text-decoration: none;
}
