@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Lato:wght@300&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    color: #404040;
    min-height: 100vh;
}

header {
    background-color: #F2CD88;
    display: flex;
    position: sticky;
    top: 0;
}

/* logo */

header > div {
    flex-basis: auto;
}

h1 {
    font-family: Pacifico, sans-serif;
    font-size: 250%;
    color: #404040;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.logo a {
    text-decoration: none;
}

/* navigation bar */

.menu {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-right: 0.25vh;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.menu ul {
    list-style-type: none;
}

#menu-items a {
    text-decoration: none;
    display: block;
    color: inherit;
}

#menu-items li {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 90%;
}

#menu-items a:hover {
    text-decoration: underline #404040;
}
#menu-items .active {
    text-decoration: underline #404040;
}

/* footer */

footer {
    background-color: #F2CD88;
    position: sticky;
    top: 100%;
}

.social-media {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #404040;
}

/* hero-image */

#hero-outer {
    height: 580px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 580px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat 70% center;

    /* animates zoom effect on loading page */

animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}


/* zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* media queries */

/* small to medium devices */
@media screen and (min-width: 576px) {
    
}

/* medium to large devices */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 300%;
    }
}

/* large to extra large devices */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 300%;
    }
}

/* bigger than extra large devices */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 350%;
        margin-left: 20px;
    }

    .logo {
        width: 50%;
    }

    .menu {
        width: 50%;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

   nav > ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 150%;
        margin: 5px;
   }

   #menu-items li {
    padding: 10px
}

}
